@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
     :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient( to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

#thumb .carousel .thumbs-wrapper {
    margin: 20px;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

#thumb .carousel .slide {
    min-width: 100%;
    margin: 0;
    position: relative;
    text-align: center;
    height: 250px;
}

@media screen and (max-width:768px) {
    #thumb .carousel .thumbs-wrapper {
        justify-content: flex-start;
    }
}